!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title= [@title, @setting.home_title].compact.join(' - ')
    %link(rel="shortcut icon" href="#{url_for @setting.favicon}")
    %link(rel="stylesheet" href="#{url_for '/css/bootstrap.min.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/bootstrap-responsive.min.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/milkode.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/coderay.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/coderay-patch.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/smoothness/jquery-ui-1.8.22.custom.css'}" type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/jquery.multiselect.css'}"  type="text/css" media="all")
    %link(rel="stylesheet" href="#{url_for '/css/jquery.multiselect.filter.css'}"  type="text/css" media="all")
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-13136329-14']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

  %body
    .container-fluid#mainpage
      != yield
    %script(type='text/javascript' src='#{url_for '/js/jquery-1.7.2.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/jquery-ui-1.8.22.custom.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/jquery.multiselect.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/jquery.multiselect.filter.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/bootstrap.min.js'}')
    %script(type='text/javascript' src='#{url_for '/js/milkode.js'}')
